/*
CSS for Roosevelt Institute at UGA page
Created by: Heather Huynh
*/

/* Import */
@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Roboto+Slab:700);

/* Text Styles */
h1 {
	color: #fe5a11;
	font-family: 'Roboto Slab', serif;
}

h2 {
	color: #fe5a11;
	font-family: 'Roboto Slab', serif;
	font-size: 200%;
}

h3 {
	color: #000000;
	font-family: 'Droid Sans', sans-serif;
	font-weight: lighter;
}

h4 {
	color: #ffffff;
	font-family: 'Roboto Slab', serif;
	font-size: 200%;
}

.marketing2 {
	margin: 75px 25px 0px 25px;
}

.featurette-divider {
	margin-top: 20px;
	margin-bottom: 20px;
}